<div class="px-6 py-4">
    <h2 class="text-xl font-semibold text-gray-700">Lesson Plans</h2>
</div>

<div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left">

        <thead class="bg-gray-100 ">
            <tr>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Subject</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Class</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Date</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Topic</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Objectives</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Materials</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Activities</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Homework</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Status</th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-100 bg-white">

            @for (item of lessonPlan; track item.id) {
            <tr class="hover:bg-gray-50 align-top">
                <td class="px-6 py-4 font-medium text-gray-900">{{item.subject}}</td>
                <td class="px-6 py-4">{{item.class}}</td>
                <td class="px-6 py-4">{{item.date | date}}</td>
                <td class="px-6 py-4">{{item.topic}}</td>

                <td class="px-6 py-4 space-y-1">
                    @for (i of item.objectives; track $index) {
                    <span class="block bg-blue-50 text-blue-700 px-2 py-1 rounded text-xs">
                        {{i}}
                    </span>
                    }
                </td>

                <td class="px-6 py-4 space-y-1">
                    @for (i of item.materials; track $index) {
                    <span class="block bg-gray-100 px-2 py-1 rounded text-xs">{{i}}</span>
                    }
                </td>

                <td class="px-6 py-4 space-y-1">
                    @for (i of item.activities; track $index) {
                    <span class="block bg-purple-50 text-purple-700 px-2 py-1 rounded text-xs">{{i}}</span>
                    }
                </td>

                <td class="px-6 py-4">{{item.homework}}</td>

                <td class="px-6 py-4">
                    <span class="px-2 py-1 text-xs font-semibold rounded-full " [ngClass]="{'bg-green-100 text-green-700' : item.status === 'Completed',
                    'bg-yellow-100 text-yellow-700' : item.status === 'Planned'
                }">
                        {{item.status}}
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>