table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 30px 20px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  color: #333;
}

tbody tr:hover {
  background: #fafafa;
}


