<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="courses" routerLinkActive="active">Courses</a></li>
    <li><a routerLink="students" routerLinkActive="active">Students</a></li>
    <li><a routerLink="about" routerLinkActive="active">About</a></li>
    <li><a routerLink="students-second" routerLinkActive="active">Student-second</a></li>
    <li><a routerLink="teachers" routerLinkActive="active">Teachers</a></li>
  </ul>
</nav>