<header class="bg-white shadow">
  <nav class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <a routerLink="/modules" class="flex items-start cursor-pointer">
        <span class="text-xl font-bold text-indigo-600">MyApp</span>
      </a>

      <div class="flex justify-center space-x-8">
        <button (click)="logoutFunc()" class="text-gray-700 hover:text-indigo-600 cursor-pointer font-medium">Log out</button>
      </div>
    </div>
  </nav>
</header>