<header class="bg-white shadow">
  <nav class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-start">
        <span class="text-xl font-bold text-indigo-600">MyApp</span>
      </div>

      <div class="flex justify-center space-x-8">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="text-gray-700 hover:text-indigo-600 font-medium">Home</a>
        <a routerLink="/courses" routerLinkActive="active"
          class="text-gray-700 hover:text-indigo-600 font-medium">Courses</a>
        <a routerLink="/students" routerLinkActive="active"
          class="text-gray-700 hover:text-indigo-600 font-medium">Students</a>
        <a routerLink="/about" routerLinkActive="active"
          class="text-gray-700 hover:text-indigo-600 font-medium">About</a>
      </div>
      <a routerLink="/login" routerLinkActive="active" class="text-gray-700 hover:text-indigo-600 font-medium">Login</a>
    </div>
  </nav>
</header>