<div class="mx-auto my-3 w-full max-w-4xl border-slate-200 bg-white p-6 max-h-120 thin-scrollbar overflow-auto">
    <b>Wagons</b>
    <p>In details <mat-slide-toggle (change)="onToggle($event.checked)">General</mat-slide-toggle></p>
    <div class="mt-6 flex w-full justify-center">

        <form class="grid w-full max-w-3xl grid-cols-1 gap-4 md:grid-cols-3" [formGroup]="orderWagons">
            <div>
                <label for="wagonNo" class="mb-1 block text-sm font-semibold text-slate-600">
                    Number
                </label>
                <input type="text" formControlName="wagonNo" id="wagonNo" autocomplete="wagonNo"
                    class="w-full rounded-lg border px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-indigo-300 border-slate-300"
                    [ngClass]="{ 'bg-slate-200 border-slate-400 text-slate-700': orderWagons.get('wagonNo')?.disabled }">
            </div>

            <div>
                <label for="addendumTariffType" class="mb-1 block text-sm font-semibold text-slate-600">
                    Tariff
                </label>
                <select formControlName="addendumTariffType" id="addendumTariffType"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    <option [ngValue]=" " disabled>Not selected</option>
                    @for (item of tariffOptions; track item.key) {
                    <option [ngValue]="item.key">{{item.value}}</option>
                    }
                </select>
            </div>

            <div>
                <label for="parkType" class="mb-1 block text-sm font-semibold text-slate-600">
                    Park
                </label>
                <select formControlName="parkType" id="parkType"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    @for (item of parkTypes; track item.key) {
                    <option [ngValue]="item.key">{{item.value}}</option>
                    }
                </select>
            </div>

            <div>
                <label for="categoryId" class="mb-1 block text-sm font-semibold text-slate-600">
                    Category*
                </label>
                <select formControlName="categoryId" id="categoryId"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    @for (item of transportCtgOptions; track item.key) {
                    <option [value]="item.key">{{item.value}}</option>
                    }
                </select>

                @if(orderWagons.get('categoryId')?.errors?.['required'] &&
                orderWagons.get('categoryId')?.touched){
                <p class="text-red-600 text-sm">Category required</p>
                }
            </div>

            <div>
                <label for="typeId" class="mb-1 block text-sm font-semibold text-slate-600">
                    Type*
                </label>
                <select formControlName="typeId" id="typeId"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    @for (item of typeOptions; track item.key) {
                    <option [value]="item.key">{{item.value}}</option>
                    }
                </select>

                @if(orderWagons.get('typeId')?.errors?.['required'] &&
                orderWagons.get('typeId')?.touched){
                <p class="text-red-600 text-sm">Type required</p>
                }
            </div>

            <div>
                <label for="weight" class="mb-1 block text-sm font-semibold text-slate-600">
                    Weight*
                </label>
                <input [ngClass]="{
                      'border-red-500': orderWagons.get('weight')?.invalid && orderWagons.get('weight')?.touched,
                      'border-slate-300': orderWagons.get('weight')?.valid || !orderWagons.get('weight')?.touched
                    }" type="number" formControlName="weight" id="weight" autocomplete="weight"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">

                @if(orderWagons.get('weight')?.errors?.['required'] &&
                orderWagons.get('weight')?.touched){
                <p class="text-red-600 text-sm">Weight required</p>
                }
            </div>

            <div>
                <label for="count" class="mb-1 block text-sm font-semibold text-slate-600">
                    Count*
                </label>
                <input [ngClass]="{
                                            'border-red-500': orderWagons.get('count')?.invalid && orderWagons.get('count')?.touched,
                                            'border-slate-300': orderWagons.get('count')?.valid || !orderWagons.get('count')?.touched,
                                            'bg-slate-200 border-slate-400 text-slate-700': orderWagons.get('count')?.disabled
                                        }" type="number" formControlName="count" id="count" autocomplete="count"
                    class="w-full rounded-lg border px-4 py-2.5 border-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-300">

                @if(orderWagons.get('count')?.errors?.['required'] &&
                orderWagons.get('count')?.touched){
                <p class="text-red-600 text-sm">Count required</p>
                }
            </div>
        </form>
    </div>

    <button type="button" class="mt-4 px-4 py-2 rounded text-white transition" [disabled]="orderWagons.invalid"
        [ngClass]="{ 'bg-indigo-600 hover:bg-indigo-700 cursor-pointer': !orderWagons.invalid, 'bg-indigo-300 opacity-50 cursor-not-allowed': orderWagons.invalid }"
        (click)="addToTable()">
        + Add
    </button>

    <input type="file" class="mt-4 p-2 mx-3 rounded text-white transition" accept=".xlsx,.xls"
        (change)="onFileChange($event)" [disabled]="fileInputDisabled"
        [ngClass]="{ 'bg-indigo-600 hover:bg-indigo-700 cursor-pointer': !fileInputDisabled, 'bg-indigo-300 opacity-50 cursor-not-allowed': fileInputDisabled }">

    <div class="mt-6 flex w-full justify-center">
        <table class="w-full max-w-3xl text-sm text-left border-separate border-spacing-y-2">
            <thead>
                <tr>
                    <th
                        class="rounded-l-xl bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        No.</th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Number
                    </th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Tariff
                    </th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Park</th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Category</th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Type</th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Weight</th>
                    <th
                        class="bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        Count</th>
                    <th
                        class="rounded-r-xl bg-slate-100 px-6 py-4 text-center align-top text-xs font-semibold uppercase tracking-wide text-slate-700">
                        #</th>
                </tr>
            </thead>

            <tbody>
                @if(customOrders.length>0){
                @for (item of customOrders; track $index; let i = $index) {
                <tr class="bg-white transition hover:bg-indigo-50/40 text-center">
                    <td class="rounded-l-xl border-y border-l border-slate-200 px-6 py-4">{{i+1}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.wagonNo}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.tariffName}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.parkName}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.categoryName}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.typeName}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.weight}}</td>
                    <td class="border-y border-slate-200 px-6 py-4">{{item.count}}</td>
                    <td class="rounded-r-xl border-y border-r border-slate-200 px-6 py-4 flex gap-1">
                        <button class="cursor-pointer bg-amber-200 px-3 py-1 rounded-md"
                            (click)="editRow(i,item)">Edit</button>
                        <button class="bg-red-400 text-white px-2 py-1 rounded cursor-pointer" (click)="removeRow(i)">
                            Delete
                        </button>
                    </td>
                </tr>
                }
                }@else {
                <tr class="bg-white transition hover:bg-indigo-50/40 text-center">
                    <td colspan="9" class="border-slate-200 px-6 py-4">No Data</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>