<mat-card class="example-card h-120" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="h-75" src={{item.thumbnail}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{item.description}}</p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div>
      <del>{{item.price}} AZN</del>
      <span> {{item.discountPrice}}AZN</span>
    </div>
    <span>Rating: {{item.rating}}</span>
  </mat-card-actions>
</mat-card>