<h2 mat-dialog-title>{{ selectedRole ? 'Edit Role' : 'Add Role' }}</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <form class="w-70 flex flex-col gap-3" [formGroup]="rolesForm" (ngSubmit)="addRoleFunc()">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-600 mb-1">
                    Name*
                </label>
                <input type="text" formControlName="name" id="name" autocomplete="name" placeholder="Name"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    [ngClass]="{
                      'border-red-500': rolesForm.get('name')?.invalid && rolesForm.get('name')?.touched,
                      'border-gray-300': rolesForm.get('name')?.valid || !rolesForm.get('name')?.touched
                    }">
                @if(rolesForm.get('name')?.errors?.['required'] && rolesForm.get('name')?.touched){
                <p class="text-red-600 text-sm">Name required</p>
                }
            </div>

            <div>
                <label for="status" class="block text-sm font-medium text-gray-600 mb-1">
                    Status*
                </label>
                <select formControlName="status" id="status" autocomplete="status" placeholder="Status"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    [ngClass]="{
                      'border-red-500': rolesForm.get('status')?.invalid && rolesForm.get('status')?.touched,
                      'border-gray-300': rolesForm.get('status')?.valid || !rolesForm.get('status')?.touched
                    }">
                <option [ngValue]="true">Aktiv</option>
                <option [ngValue]="false">Deaktiv</option>
                </select>
                @if(rolesForm.get('status')?.errors?.['required'] && rolesForm.get('status')?.touched){
                <p class="text-red-600 text-sm">Status required</p>
                }
            </div>

            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" type="submit" [disabled]="rolesForm.invalid " [ngClass]="{
            'bg-gray-400 text-gray-700 cursor-not-allowed ring-0': rolesForm.invalid,
            'bg-blue-600 text-white hover:bg-blue-700 cursor-pointer shadow-lg': !rolesForm.invalid
            }" class=" bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 cursor-pointer transition">
                    {{ selectedRole ? 'Update Role' : 'Add Role' }}
                </button>
            </mat-dialog-actions>
        </form>
    </div>
</mat-dialog-content>