.id-cell {
  color: #999;
  font-weight: 500;
}

.student-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

td{
  padding: 10px 5px;
  text-align: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #667eea;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  flex-shrink: 0;
}

.badge {
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.badge-active {
  background: #dcfce7;
  color: #16a34a;
}

.badge-inactive {
  background: #fee2e2;
  color: #dc2626;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.dot-green { background: #16a34a; }
.dot-red   { background: #dc2626; }

.btn-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.edit-btn {
  background: transparent;
  color: #667eea;
  border: 1.5px solid white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s;
}

.edit-btn:hover {
  background: #667eea;
  color: white;
  border: 1.5px solid #667eea;
}

.delete-btn {
  background: transparent;
  color: #ef4444;
  border: 1.5px solid white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s;
}

.delete-btn:hover {
  background: #ef4444;
  color: white;
  border: 1.5px solid #ef4444;
}


.tooltip {
  position: relative;
  cursor: pointer;
}
.name-wrapper {
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background: #1a1a2e;
  color: white;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  z-index: 10;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #1a1a2e;
  /* 👆 aşağıya işarə edən üçbucaq */
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  /* 👆 hover edəndə görünür */
}