<mat-card class="example-card h-50" appearance="outlined">
  <mat-card-header class="flex justify-between">
    <mat-card-title>{{item.firstName}} {{item.lastName}}</mat-card-title>
    <button (click)="onDelete()" class="text-red-600 cursor-pointer hover:bg-red-200 p-2 rounded-2xl">Delete</button>
  </mat-card-header>
  <mat-card-content>
    <p>{{item.email}}</p>
  </mat-card-content>
  <div class="flex flex-col justify-between my-5 mx-4">
    <span>Phone: {{item.phone}}</span>
    <span>Gender: {{item.gender}}</span>
    <span>Age: {{item.age}}</span>
  </div>
</mat-card>