<div class="px-6 py-4">
    <h2 class="text-xl font-semibold text-gray-700">Student Assessments</h2>
</div>

<div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left">

        <thead class="bg-gray-100">
            <tr>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Student</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Class</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Subject</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Assessment</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Date</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Score</th>
                <th class="px-6 py-3 font-medium text-gray-500 uppercase">Teacher Note</th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-100 bg-white">

            @for (i of studentAssesment; track i.id) {

            <tr class="hover:bg-gray-50 align-top">
                <td [attr.rowspan]='i.assessments.length' class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
                    {{i.studentName}}
                </td>
                <td [attr.rowspan]='i.assessments.length' class="px-6 py-4 bg-gray-50">{{i.class}}</td>
                <td [attr.rowspan]='i.assessments.length' class="px-6 py-4 bg-gray-50">{{i.subject}}</td>

                @if (i.assessments.length>0) {
                <td class="px-6 py-4">{{i.assessments[0].type}}</td>
                <td class="px-6 py-4">{{i.assessments[0].date}}</td>
                <td class="px-6 py-4 font-semibold text-blue-600">{{i.assessments[0].score}}</td>
                }

                <td [attr.rowspan]='i.assessments.length' class="px-6 py-4 bg-gray-50font-medium">
                    @if (i.teacherNote=='') {
                    —
                    }@else {
                    {{i.teacherNote}}
                    }
                </td>
            </tr>

            @if(i.assessments.length>1){
            @for (item of i.assessments.slice(1); track $index) {
            <tr class="hover:bg-gray-50">
                <td class="px-6 py-4">Homework</td>
                <td class="px-6 py-4">2026-03-02</td>
                <td class="px-6 py-4 font-semibold text-blue-600">90</td>
            </tr>
            }
            }
            }

        </tbody>

    </table>
</div>