<div class="flex flex-col items-center justify-center mb-30">
    <h2 class="font-bold text-3xl mt-25 mb-15">LOGIN</h2>
    <form class="flex flex-col gap-5 mb-23" [formGroup]="loginForm" (ngSubmit)="loginApp()">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" formControlName="username"
            class="border rounded w-95 h-8 p-2 focus:outline-0 focus-within:border-blue-500 focus-within:ring-2 focus-within:ring-blue-500 transition">

        <label for="password">Password</label>
        <div
            class="flex w-95 h-8 border rounded items-center focus-within:border-blue-500 focus-within:ring-2 focus-within:ring-blue-500 transition">
            <input id="password" formControlName="password" [type]="isShowPass? 'password': 'text'"
                placeholder="Password" class="w-full h-full p-2 focus:outline-0">
            <button type="button" class="cursor-pointer p-2" (click)="changeVisibility()">
                @if (isShowPass) {
                <i class="fa-solid fa-eye text-gray-600 w-5 h-5"></i>
                }@else{
                <i class="fa-solid fa-eye-slash text-gray-600 w-5 h-5"></i>
                }
            </button>
        </div>

        <button class="bg-blue-500 p-1 rounded cursor-pointer disabled:bg-gray-500" type="submit"
            [disabled]="loginForm.invalid">Login</button>
    </form>
</div>