<nav class="student-nav">
  <a routerLink="ders-cedveli" routerLinkActive="active-link">📅 Dərs Cədvəli</a>
  <a routerLink="qiymet-cedveli" routerLinkActive="active-link">📊 Qiymət Cədvəli</a>
  <a routerLink="elektron-jurnal" routerLinkActive="active-link">📓 Elektron Jurnal</a>
</nav>
<router-outlet></router-outlet>

<!-- Header -->
<div class="page-header">
  <div class="page-header-inner">
    <p class="page-subtitle">Məlumat Bazası</p>
    <h1>👨‍🎓 Tələbələr</h1>
    <p class="page-desc">Platformamızda qeydiyyatdan keçmiş bütün tələbələr</p>
  </div>
</div>

<div class="page-content">

  <!-- Summary Cards -->
  <div class="summary-cards">
    <div class="summary-card">
      <div class="summary-number">{{ students.length }}</div>
      <div class="summary-label">Ümumi</div>
    </div>
    <div class="summary-card green">
      <div class="summary-number">{{ activeCount }}</div>
      <div class="summary-label">Aktiv</div>
    </div>
    <div class="summary-card red">
      <div class="summary-number">{{ inactiveCount }}</div>
      <div class="summary-label">Qeyri-aktiv</div>
    </div>
    <div class="summary-card purple">
      <div class="summary-number">2024</div>
      <div class="summary-label">Qəbul ili</div>
    </div>
  </div>

  <!-- Search və Add -->
  <div class="actions-bar">
    <input
      type="text"
      [value]="searchText"
      (input)="searchText = $any($event.target).value"
      placeholder="Tələbə axtar..."
      class="search-input"
    />
    <button class="add-btn" (click)="toggleForm()">+ Yeni Tələbə</button>
  </div>

  <!--  REACTİVE FORM — Yeni Tələbə -->
  @if (showForm) {
  <div class="form-card">
    <h3>Yeni Tələbə Əlavə Et</h3>

    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="student-form">

      <!-- Ad elave etmek hissesi -->
      <div class="input-wrapper">
        <label>Ad Soyad</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Məs: Aysel Məmmədova"
          class="add-input"
          [class.input-error]="studentForm.get('name')?.invalid && studentForm.get('name')?.touched"
        />
        @if (studentForm.get('name')?.invalid && studentForm.get('name')?.touched) {
          <span class="error-msg">{{ getError('name') }}</span>
        }
      </div>

      <!-- Email  elave etmek hissesi-->
      <div class="input-wrapper">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Məs: aysel@school.az"
          class="add-input"
          [class.input-error]="studentForm.get('email')?.invalid && studentForm.get('email')?.touched"
        />
        @if (studentForm.get('email')?.invalid && studentForm.get('email')?.touched) {
          <span class="error-msg">{{ getError('email') }}</span>
        }
      </div>

      <!-- Yaş  hissesi-->
      <div class="input-wrapper">
        <label>Yaş</label>
        <input
          type="number"
          formControlName="age"
          placeholder="Məs: 20"
          class="add-input"
          [class.input-error]="studentForm.get('age')?.invalid && studentForm.get('age')?.touched"
        />
        @if (studentForm.get('age')?.invalid && studentForm.get('age')?.touched) {
          <span class="error-msg">{{ getError('age') }}</span>
        }
      </div>

      <!-- Kurs  secimi-->
      <div class="input-wrapper">
        <label>İxtisas</label>
        <select
          formControlName="course"
          class="add-input"
          [class.input-error]="studentForm.get('course')?.invalid && studentForm.get('course')?.touched"
        >
          <option value="">İxtisas seçin...</option>
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="UI/UX">UI/UX</option>
          <option value="DevOps">DevOps</option>
          <option value="Mobile">Mobile</option>
        </select>
        @if (studentForm.get('course')?.invalid && studentForm.get('course')?.touched) {
          <span class="error-msg">{{ getError('course') }}</span>
        }
      </div>

      <!-- Status secimi -->
      <div class="input-wrapper">
        <label>Status</label>
        <select formControlName="status" class="add-input">
          <option value="aktiv">Aktiv</option>
          <option value="qeyri-aktiv">Qeyri-aktiv</option>
        </select>
      </div>

      <!-- SUBJECTS — FormArray  dersler elave etmek hissesi-->
      <div class="input-wrapper">
        <label>Fənlər</label>
        <div formArrayName="subjects">
          @for (subject of subjects.controls; track $index; let i = $index) {
            <div class="subject-row">
              <input
                type="text"
                [formControlName]="i"
                placeholder="Məs: Angular, HTML..."
                class="add-input"
              />
              @if (subjects.length > 1) {
                <button type="button" class="remove-btn" (click)="removeSubject(i)">✕</button>
              }
            </div>
          }
        </div>
        <button type="button" class="add-subject-btn" (click)="addSubject()">
          + Fənn əlavə et
        </button>
      </div>

      <!-- Form Status ( her sey okey olanda elave edirik) -->
      <p class="form-status">
        Form statusu: <strong>{{ studentForm.status }}</strong>
      </p>

      <div class="form-actions">
        <button type="button" class="cancel-btn" (click)="toggleForm()">Ləğv et</button>
        <button type="submit" class="add-btn">Əlavə et</button>
      </div>

    </form>
  </div>
  }

  <!-- Redaktə form hissesi -->
  @if (editingStudent) {
  <div class="form-card">
    <h3>Tələbəni Redaktə Et</h3>
    <form class="student-form">

      <div class="input-wrapper">
        <label>Ad Soyad</label>
        <input
          type="text"
          [value]="editingStudent.name"
          (input)="editingStudent.name = $any($event.target).value"
          class="add-input"
        />
      </div>

      <div class="input-wrapper">
        <label>Yaş</label>
        <input
          type="number"
          [value]="editingStudent.age"
          (input)="editingStudent.age = $any($event.target).value"
          class="add-input"
        />
      </div>

      <div class="input-wrapper">
        <label>İxtisas</label>
        <select
          [value]="editingStudent.course"
          (change)="editingStudent.course = $any($event.target).value"
          class="add-input"
        >
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="UI/UX">UI/UX</option>
          <option value="DevOps">DevOps</option>
          <option value="Mobile">Mobile</option>
        </select>
      </div>

      <div class="input-wrapper">
        <label>Status</label>
        <select
          [value]="editingStudent.status"
          (change)="editingStudent.status = $any($event.target).value"
          class="add-input"
        >
          <option value="aktiv">Aktiv</option>
          <option value="qeyri-aktiv">Qeyri-aktiv</option>
        </select>
      </div>

      <div class="form-actions">
        <button type="button" class="cancel-btn" (click)="cancelEdit()">Ləğv et</button>
        <button type="button" class="add-btn" (click)="saveEdit()">Yadda saxla</button>
      </div>

    </form>
  </div>
  }

  <!-- student teybl hissesi -->
  <div class="table-wrapper">
    <div class="table-header">
      <h2>Tələbə Siyahısı</h2>
      <span class="count-badge">{{ filteredStudents.length }} nəfər</span>
    </div>

    <app-student-list
      [students]="filteredStudents"
      (deleteStudent)="deleteStudent($event)"
      (editStudent)="editStudent($event)">
    </app-student-list>

  </div>
</div>  