<h2>Hi angular</h2>

<ul>
  <li *ngFor="let u of users">
    {{u.id}} - {{u.name}} - {{u.email}}
  </li>
</ul>


<h3>SAYAC</h3>
<div style="display: flex; gap: 15px;">
  <button (click)="decrease()">-</button>
  <p>{{count}}</p>
  <button (click)="increase()">+</button>
  <button (click)="reset()">Reset</button>
</div>

<h2>TODO APP</h2>

<input type="text" [(ngModel)]="newTodo">
<button (click)="addTodo()">Add</button>

<ul>
  <li *ngFor="let t of todos">
    <input type="checkbox" [checked]="t.completed" (change)="doneTodo(t)">
    <span [style.text-decoration]="t.completed ? 'line-through' : 'none'">
      {{t.task}}
    </span>
    <button (click)="delTodo(t)">del</button>
  </li>
</ul>
