<div class="flex flex-col align-middle items-center gap-3 py-52">
    <h1 class="font-bold text-3xl ">
        @if(isLogedIn){
        {{"Welcome your page!" | uppercase}}
        }@else {
        {{"Welcome my app!" | uppercase }}
        }
    </h1>
    <p class="w-1/2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusamus
        laborum numquam iste provident dolor! Eum tempora asperiores cupiditate, ex, earum sint ducimus architecto soluta quo
        hic praesentium saepe iste!</p>
</div>