<div class="container p-10">
  <h1>List of students</h1>
  <time>{{ tarix | date:'medium' }}</time>
  <p>{{myName | fullnameconverter}}</p>
  <div class="text-right">
    <input type="text" placeholder="search student" class="p-1 text-black" [(ngModel)]="filterName">
  </div>
  <div class="flex flex-col gap-4">
    <form #addNewStudentForm="ngForm" (ngSubmit)="onSubmit(addNewStudentForm)">
      <div class="flex flex-row gap-4 p-2 text-black text-sm">
          <label for="firstName"></label>
          <input type="text" placeholder="name" name="name" class="p-1" [(ngModel)]="newName" required minlength="4" pattern="^[a-zA-Z]+$" #nameField="ngModel">
          <span *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-white">name is invalid</span> 

          <label for="surname"></label>
          <input type="text" placeholder="surname" name="surname" class="p-1" [(ngModel)]="newSurname" required minlength="4" #surnameField="ngModel">
          <span *ngIf="surnameField.invalid && (surnameField.dirty || surnameField.touched)" class="text-white">surname is invalid</span> 

          <label for="age"></label>
          <input type="number" placeholder="age" name="age" class="p-1" [(ngModel)]="newAge" #ageField="ngModel" required min="1">
          <span *ngIf="ageField.invalid && (ageField.dirty || ageField.touched)" class="text-white">age must be greater than 1</span> 
      </div>
      <div>
        <button [ngClass]="{'bg-yellow-600': addNewStudentForm.invalid}" class="p-2 bg-blue-600 rounded-xl text-sm" type="submit" [disabled]="addNewStudentForm.invalid">add student</button>
      </div>
    </form>
  </div>

  <app-student-list [students]="filteredStudents" (deleteStudent)="deleteStudent($event)"></app-student-list>
</div>