/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  background-color: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;