<a routerLink="/teacher-module/students-list"
    class="bg-red-200 text-red-700 text-l rounded p-2 hover:bg-red-300 cursor-pointer">
    <- Go Back </a>

        <p class="text-xl text-center uppercase font-bold">Update Student</p>

        <div class="w-full h-full flex justify-center align-center mt-10">
            <form class="w-130 flex flex-col gap-2" [formGroup]="studentForm" (ngSubmit)="updateStudentFunc()">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" type="text" matInput placeholder="Name">
                    @if (studentForm.get('name')?.hasError('minlength') &&
                    !studentForm.get('name')?.hasError('required')) {
                    <mat-error>Min length must be 3</mat-error>
                    }
                    @if (studentForm.get('name')?.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Surname</mat-label>
                    <input formControlName="surname" type="text" matInput placeholder="Surname">
                    @if (studentForm.get('surname')?.hasError('minlength') &&
                    !studentForm.get('surname')?.hasError('required')) {
                    <mat-error>Min length must be 3</mat-error>
                    }
                    @if (studentForm.get('surname')?.hasError('required')) {
                    <mat-error>Surname is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
                    @if (studentForm.get('email')?.hasError('email') &&
                    !studentForm.get('email')?.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (studentForm.get('email')?.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input type="number" matInput formControlName="age">
                    @if (studentForm.get('age')?.hasError('min') && !studentForm.get('age')?.hasError('required'))
                    {
                    <mat-error>Student must be min 18 years old!</mat-error>
                    }
                    @if (studentForm.get('age')?.hasError('required')) {
                    <mat-error>Age is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <div formArrayName="subjects" class="example-full-width">
                    @for(subject of subjects.controls; track $index; let i = $index){
                    <div class="flex w-full items-center">
                        <mat-form-field class="w-full">
                            <mat-label>Subject</mat-label>

                            <input matInput [formControlName]="i" placeholder="Subject name">

                        </mat-form-field>

                        <button type="button" class="bg-red-700 cursor-pointer text-white px-2 rounded"
                            (click)="removeSubject(i)">
                            Remove
                        </button>
                    </div>
                    }
                </div>

                <button type="button" class="bg-blue-700 text-white px-3 py-1  cursor-pointer rounded"
                    (click)="addSubject()">
                    + Add Subject
                </button>

                <button
                    class="bg-blue-500 w-fit py-2 px-5 transition-all hover:bg-blue-700 text-white flex justify-end rounded cursor-pointer disabled:bg-gray-500"
                    type="submit" [disabled]="studentForm.invalid">
                    @if (isLoading) {
                    Loading...
                    }@else {
                    Update
                    }
                </button>
            </form>
        </div>